.nav-item {
  .nav-link {
    display: flex;
    align-items: center;

    &.active {
      color: #fff;
      background: rgba(255, 255, 255, .23);
      opacity: 1;
    }
  }
}
body .popover{
  max-width: 400px;
}
@media screen and (max-width:767px){
  body .popover{
    max-width: 360px;
  }
}
.popover-body .pb-2.media:last-of-type {
  padding-bottom: 0 !important;
}
.sidebar .nav a {
  transition: all 150ms ease-in;
}

.large-spinner {
  width: 4rem;
  height: 4rem;
}

.progress {
  height: 1.5rem;
}

.badge:empty {
  display: inline-block;
}